.header {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 1, 0, 0, 1);
    -fx-padding: 0 70 0 70;
    -fx-direction: ltr;
    -fx-spacing: 20; /* Space between document header elements */
    -fx-alignment: center; /* Center alignment */
}

.header-content {
    -fx-spacing: 100;
    -fx-padding: 16;
    -fx-alignment: center;
    -fx-min-height: 64px;
}

.combo-box {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 1, 0, 0, 1);
    -fx-border-color: transparent; /* Light gray border color */
    -fx-border-radius: 6; /* Rounded corners for inputs */
    -fx-background-radius: 6; /* Rounded background */
    -fx-font-family: "Inter"; /* Font family */
    -fx-font-size: 16; /* Font size for input fields */
}