/* Highlight odd rows with a light gray background */

.table-row-cell:odd {
    -fx-background-color: #f4f4f4;
}

/* Highlight even rows with a white background */
.table-row-cell:even {
    -fx-background-color: #ffffff;
}

/* Change font and text color */
.table-row-cell {
    -fx-text-alignment: center;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

/* Highlight selected rows */
.table-row-cell:selected {
    -fx-background-color: #3399ff;
    -fx-text-fill: white;
}