Button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-cursor: hand;
}
Button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 2);
}