Button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-cursor: hand;
}
Button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 2);
}
.combo-box {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 1, 0, 0, 1);
    -fx-border-color: transparent; /* Light gray border color */
    -fx-border-radius: 6; /* Rounded corners for inputs */
    -fx-background-radius: 6; /* Rounded background */
    -fx-font-family: "Inter"; /* Font family */
    -fx-font-size: 16; /* Font size for input fields */
}
